* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --img-bg-color: rgb(3, 2, 77);
    --btn-bg-color: rgba(186, 189, 186, 0.795);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

body {
    /* background-color: bisque; */
    background: linear-gradient(to right, rgb(231, 231, 231), rgb(243, 242, 241));
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    height: 700vh;
    width: 100vw;
}

.nav {
    /* height: auto; */
    width: 100%;
    /* margin: auto; */
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size:large;
    background-color: rgb(5, 6, 97);
    display: flex;
    color: aliceblue;
    /* gap: 50%; */
    text-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    padding: 1rem;

}

nav > .nav-left{
    height: auto;
    width: auto;
    margin-left: 3rem;
    /* padding-left: 6rem; */
}

.nav > .nav-left > p {
    font-family: 'Roboto Condensed', sans-serif;

}

nav > .nav-item {
    padding: 1.6rem;
    /* background-color: brown; */
    display: flex;
    margin-left: 60%;
    gap: 1.7rem;
}

nav > .nav-item > .home {
    background-color: brown;
    width: 100%;
    height: 100%;
}

.nav > .nav-item > a {
    text-decoration: none;
    color: antiquewhite;
}

.home:hover  {
    color: brown;
}

.page:hover {
    color: brown;
}

.course:hover {
    color: brown;
}

.portal:hover {
    color: brown;
}

.sec-img {
    background-color: var(--img-bg-color);
    width: 100%;
    /* position: relative; */
}

section > img {
    /* width: 1300px;
    height: 650px; */
    width: 96%;
    height: auto;
    margin-left: auto;
}

.btn-flex {
    margin: 5em;
    display: flex;
    flex-direction: row;
    gap: .8em;
    /* justify-content: center; */
    align-items: flex-start;
    align-content: flex-start;
}

.ctrl-btn {
    width: 50px;
    height: 50px;
    background-color: var(--btn-bg-color);
    /* border-color: antiquewhite; */
    border: 2px solid whitesmoke;
    margin-bottom: 4rem;
    border-radius: 25px;
    color: antiquewhite;
    /* border-style: ; */
}

.ctrl-btn:hover {
    background-color: brown;
}