* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --img-bg-color: rgb(3, 2, 77);
    --btn-bg-color: rgba(186, 189, 186, 0.795);
}

img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}

body {
    background: linear-gradient(to right, rgb(231, 231, 231), rgb(243, 242, 241));
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
    width: 100vw;
    margin: 0;
}

.nav {
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size:large;
    background-color: rgb(5, 6, 97);
    display: flex;
    flex-wrap: wrap;
    color: aliceblue;
    text-align: center;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 1rem;
    z-index: 10;

}

nav > .nav-left{
    height: auto;
    width: auto;
    margin-left: 3rem;
}

.nav > .nav-left > p {
    font-family: 'Roboto Condensed', sans-serif;

}

nav > .nav-item {
    display: flex;
    flex-wrap: wrap;
    margin-left: 60%;
    gap: 1.7rem;
}

nav > .nav-item > .home {
    background-color: brown;
    width: 100%;
    height: 100%;
}

.nav > .nav-item > a {
    color: antiquewhite;
}

.home:hover  {
    color: brown;
}

.page:hover {
    color: brown;
}

.course:hover {
    color: brown;
}

.portal:hover {
    color: brown;
}

.campus-life {
    text-align: center;
    color: #555555;
    font-family: 'poppins',sans-serif;
}

#sub-campus-life {
    margin-top: 50px;
    margin-bottom: 50px;
}

.top-campus-para {
    width: 35%;
    line-height: 2;
    margin: auto;
    padding-bottom: 30px;
}

.other-campus-para {
    text-align: left; 
    padding-left: 20px;
    color: #e32845;
    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: 500px;
}

.left-campus-life {
    display: inline-block;
    margin-right: 20px;
    transition: transform 600ms;
    box-shadow: 0 4px 8px 4px rgba(250, 250, 250), 0 6px 20px 0 rgba(250, 250, 250);
}

.middle-campus-life {
    display: inline-block;
    margin-right: 20px;
    transition: transform 600ms;
    box-shadow: 0 4px 8px 4px rgba(250, 250, 250), 0 6px 20px 0 rgba(250, 250, 250);
}

.right-campus-life {
    display: inline-block;
    transition: transform 600ms;
    box-shadow: 0 4px 8px 4px rgba(250, 250, 250), 0 6px 20px rgba(250, 250, 250);
}

.campus-life-h2 {
    font-size: 2.5rem;
    margin: 0;
    padding-bottom: 15px;
    color: #111d5e;
    font-family: 'Source Serif Pro', serif;
}

.campus-life-h3 {
    width: 300px;
    text-align: left;
    padding-left: 20px;
    color: #111d5e;
    font-family: 'Source Serif Pro', serif;

}
.campus-life-link {
    text-decoration: none;
    color: #e32845;
}

.campus-life-img {
    height: 250px;
    vertical-align: middle;
}

.left-campus-life:hover {
    transform: translateY(-10px);
}

.middle-campus-life:hover {
    transform: translateY(-10px);
}

.right-campus-life:hover {
    transform: translateY(-10px);
}
/* .sec-img {
    background-color: var(--img-bg-color);
    width: 100%;
}

section > img {
    
    width: 96%;
    height: auto;
    margin-left: auto;
} */

.sec-img {
    background-color: var(--img-bg-color);
    width: 100%;
    /* position: relative; */
}

section > div > img {
    /* width: 1300px;
    height: 650px; */
    width: 96%;
    height: auto;
    margin-left: auto;
    background-image: linear-gradient(steelblue, blue);

}

/* testing */

section > div {
    position: relative;
    /* background-image: linear-gradient(steelblue, blue); */
}

section > div > .img-over {
    width: 40%;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    left: 5%;
    top: 8%;
    font-size: 200%;
    /* padding: 4rem; */
}

/* endtesting */


.btn-flex {
    margin: 5em;
    display: flex;
    flex-direction: row;
    gap: .8em;
    align-items: flex-start;
    align-content: flex-start;
}

.ctrl-btn {
    width: 50px;
    height: 50px;
    background-color: var(--btn-bg-color);
    border: 2px solid whitesmoke;
    margin-bottom: 4rem;
    border-radius: 25px;
    color: antiquewhite;
}

.ctrl-btn:hover {
    background-color: brown;
} 




.podcasts{
    background-color: white;
    padding-top: 7rem;
    padding-bottom: 7rem;

}
.podcasts .container{
    width: 65vw;
    margin: auto;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Source Serif Pro", serif;
    margin: 5px 0;

}

.podcasts .title{
    color: #111E5D;
}
.podcasts .title-desc{
   color: #555555;
   font-size: 13px;
}

.podcasts-row{
    display: grid;
    grid-template-columns: 65% 35%;
    gap: 7rem;
}


.podcasts .section-title{
    font-size: 2.5rem;
}
.podcasts .single-podcasts-card{
    position: relative;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 2rem;
    align-items: center;
    margin: 2rem 0;
}
.podcasts-image{
    width: 100%;
    height: auto;
}
.text-sendondary{
    color: #E32844;
}
.podcast-content{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.podcast-content .caption {
    color: #555555;
    font-size: 13px;
}

.podcasts .episode{
    font-size: 13px;
}
.play-button {
    background-color: #fff;
    color: #e32845;
    font-size: 16px;
    padding: 13px 10px;
    transition: all ease 0.5s;
    font-size: 13px;
}
.podcasts .play-button:hover {
    background-color: #e32845;
    color: #ffffff;
}
.podcasts .play-button i {
    margin-right: 10px;
    background-color: #e32845;
    color: #fff;
    border-radius: 50%;
    padding: 10px 12px 9px 12px;
}

.podcasts .categories{
    padding: 30px;
    background-color: #f4f6f9;
    margin-bottom: 30px;
}

.podcasts .categories ul li a {
    color: #555555;
    transition: all ease 0.5s;
    font-size: 12px;
}
.podcasts .categories ul li a:hover {
    color: #E32844;
}
.podcasts .categories ul {
    padding-left: 0;
}
.podcasts .categories ul li {
    position: relative;
    list-style-type: none;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
}
.podcasts .categories ul li i {
    color: #E32844;
    font-size:10px;
    margin-right: 10px;
}

.podcasts .subscribe-area{
    background-image: url(../images/subscribe-img.jpg);
    background-size: cover;
    padding: 30px;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    z-index: 1;
    color: #fff;
}


.podcasts .subscribe-area .overlay{
    position: absolute;
    background: rgba(17, 29, 94, 0.7);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.podcasts .subscribe-area  h3 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 15px;
}
.podcasts .subscribe-area p{
    font-size: 13px;
}

.podcasts .subscribe-area  .form-control {
    height: 45px;
    border: 1px solid rgba(89, 90, 89, 0.25);
    padding-left: 15px;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 30px;
}


.podcasts .subscribe-area button {
    background-color: #e32845;
    color: #ffffff;
    font-size: 16px;
    padding: 13px 35px;
    border-radius: 0;
    position: relative;
    transition: all ease 0.5s;
    border: 1px solid #e32845;
    z-index: 1;
    width: 100%;
}

.podcasts .subscribe-area button::before {
    position: absolute;
    content: "";
    background-color: #111d5e;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transition: all ease 0.5s;
    z-index: -1;
}

.podcasts .subscribe-area button:hover {
    color: #fff;
}
.podcasts .subscribe-area button:hover::before {
        transform: scaleX(1);
    }

    .podcasts .subscribe-area i {
        font-size:2rem;
    }

    /* youtube modal styles  */
     .youtube-modal-container{
        display: none;
        position: fixed;
        z-index: 9999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.5);
    }
     .youtube-modal-container.is-visible{
        display: block;
    }

    .modal {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .modal-header{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;
    }
    .modal-header .title{
        font-size: 1.5rem;
    }

    .youtube-modal-close{
        color: #aaa;
        font-size: 28px;
        font-weight: bold;
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
    }
    .youtube-modal-close:hover{
        color: #000;
    }

    .modal-body{
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        position: relative;
    }

    .modal-body iframe{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    /* responsiveness  */
    /* mobile phones  */
    @media (max-width: 576px) {
        .podcasts .container{
            width: 90vw;
        }
        .podcasts-row{
            display: block;
        }
        .podcasts .single-podcasts-card{
            grid-template-columns: 100%;
        }
        .podcasts .categories{
            padding: 15px;
        }
        .podcasts .categories ul li{
            padding-bottom: 5px;
            margin-bottom: 5px;
        }
        .podcasts .categories ul li i{
            font-size: 12px;
        }
        .podcasts .categories ul li a{
            font-size: 12px;
        }
        .podcasts .play-button{
            font-size: 12px;
        }
        .podcasts .episode{
            font-size: 12px;
        }
        .podcasts .title{
            font-size: 1.5rem;
        }
        .podcasts .title-desc{
            font-size: 12px;
        }
        .podcasts .section-title{
            font-size: 1.5rem;
        }
        .podcasts .subscribe-area h3{
            font-size: 1.5rem;
        }
        .podcasts .subscribe-area p{
            font-size: 12px;
        }
        .podcasts .subscribe-area .form-control{
            height: 35px;
        }
        .podcasts .subscribe-area button{
            font-size: 12px;
            padding: 10px 20px;
        }
        .podcasts .subscribe-area i{
            font-size: 1.5rem;
        }
    }

    /* tablets  */
    @media (min-width: 576px) and (max-width: 768px) {
        .podcasts .container{
            width: 90vw;
        }
        .podcasts-row{
            display: block;
        }
        .podcasts .single-podcasts-card{
            grid-template-columns: 100%;
        }
        .podcasts .categories{
            padding: 15px;
        }
        .podcasts .categories ul li{
            padding-bottom: 5px;
            margin-bottom: 5px;
        }
        .podcasts .categories ul li i{
            font-size: 12px;
        }
        .podcasts .categories ul li a{
            font-size: 12px;
        }
        .podcasts .play-button{
            font-size: 12px;
        }
        .podcasts .episode{
            font-size: 12px;
        }
        .podcasts .title{
            font-size: 1.5rem;
        }
        .podcasts .title-desc{
            font-size: 12px;
        }
        .podcasts .section-title{
            font-size: 1.5rem;
        }
        .podcasts .subscribe-area h3{
            font-size: 1.5rem;
        }
        .podcasts .subscribe-area p{
            font-size: 12px;
        }
        .podcasts .subscribe-area .form-control{
            height: 35px;
        }
        .podcasts .subscribe-area button{
            font-size: 12px;
            padding: 10px 20px;
        }
        .podcasts .subscribe-area i{
            font-size: 1.5rem;
        }
    }

    .btn-over {
        background-color: #e32845;
        border-style: none;
    }
    
    .btn-over:hover {
        background-color: #111b52;
        border-radius: 125px;
    }
    

/* Footer */
/* body{
    margin: 0;
    font-family: "Poppins", sans-serif;
} */

.social-content ul{
    display: flex;
    gap: 1.5rem;
  
}

.social-content{
    width: 20rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
    position: relative;
    left: 5rem;
}

.social-content li {
    list-style: none;
}

.column-4 {
    background-color: #111d5e;
    height: 5rem;
    display: flex;
    align-items: center;
    gap: 40rem;
}

.sanu-footer {
    height: 2.4rem;
    width: 20rem;

}

.sanu-footer p a {
    text-decoration: none;
    color: red;
}

.footer-distributed {
    background-image: url("https://templates.hibootstrap.com/sanu/default/assets/images/shape-1.png");
    background-color: #052c65;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 26rem;
    display: flex;

}

.column-3 {
    width: 16rem;
    height: 18rem;
}

.column-3 .list ul li a {
    text-decoration: none;
}

.column-2 {
    width: 15rem;
    height: 18rem;
}


.column-1 {
    width: 15rem;
    height: 18rem;
}

.footer-parent {
    display: flex;
    width: 43rem;
    height: 20rem;
    gap: 1.5rem;
}


.footer-left {
    width: 25rem;
    height: 18rem;
}
.footer-left p{
    font-size: .9rem;
}
.fd {
    display: flex;
    height: 16rem;
    margin-left: auto;
    margin-right: auto;
    width: 71rem;
    align-self: center;
    gap: 1.5rem;
    justify-self: center;
}

.column-1 .list ul li a {
    text-decoration: none;
    color: white;
    font-size: .9rem;
    position: relative;
    left: -2.1rem;
}

.column-1 .list ul li {
    list-style: none;
    line-height: 2rem;
}

.column-1 .list {
    margin-left: 0px;
    width: 15rem;
    height: 16rem;
}

.column-1 {
    margin: 0px;
}


.column-2 .list ul li a {
    text-decoration: none;
    color: white;
    font-size: .9rem;
    position: relative;
    left: -2.1rem;
}

.column-2 .list ul li a:hover{
    color: red;
}
.column-1 .list ul li a:hover{
    color: red;
}
.column-3 .list ul li a:hover{
    color: red;
}
.column-2 .list ul li {
    list-style: none;
    line-height: 2rem;
}

.column-2 .list {
    margin-left: 0px;
    width: 20rem;
    height: 16rem;
}

.column-2 {
    margin: 0px;
}


.column-3 .list ul li a {
    text-decoration: none;
    color: white;
    font-size: .9rem;
    position: relative;
    left: -2.1rem;
}

.column-3 .list ul li {
    list-style: none;
    line-height: 2rem;
}

.column-3 .list {
  
    width: 16rem;
    height: 16rem;
}

.contact-list li {
    list-style: none;
    line-height: 1.5rem;
}

.contact-list li a {
    text-decoration: none;
    color: white;
    font-size: .9rem;
}

.footer-left p {
    color: white;
}

.footer-widget h3 {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.face {
    color: white;
}
.face:hover{
    color: red;
}

.twitter {
    color: white;
}

.twitter:hover{
    color: red;
}


.insta {
    color: white;
}

.insta:hover{
    color: red;
}


.linkedin {
    color: white;
}

.linkedin:hover{
    color: red;
}


.social-content li span {
    color: white;
}

.sanu-footer p {
    color: white;
}

/* * {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

.hero-section {
    width: 100%;
    /* height: 550px; */
    background-color: #18225c;
    background-image: url('../images/login-pics/formbanner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
    background-position: top center;
    padding-bottom: 80px;
    margin-bottom: 120px;
  }
  
  .Login-Hero {
    padding-top: 250px;
    padding-left: 180px;
  }
  .Login-Hero h3 {
    margin-left: 8px;
    font-size: 50px;
    font-family: "Times New Roman", Times, serif;
    color: #fff;
  }
  .Login-Hero ul {
    display: flex;
    justify-content: flex-start;
  }
  .Login-Hero ul li,
  .Login-Hero ul span {
    list-style: none;
    margin-left: 8px;
    margin-top: 10px;
    color: #fff;
  }
  .Login-Hero ul li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: rgb(255, 255, 255);
  }
  .Login-Hero .inner {
    /**color: #111d5e;**/
    color: #e32845;
  }
  .form-pannel h4 {
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 45px;
    font-size: 25px;
    color: #111d5e;
  }
  .form-pannel {
    margin: auto;
    width: 50%;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 80px;
    position: relative;
  }
  .form-pannel .inner-form {
    padding: 70px;
  }
  .text-field {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgb(141, 141, 141);
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
  }
  form {
    font-family: "Poppins", sans-serif;
  }
  
  .text-field::placeholder {
    font-size: 16px;
    color: rgb(22, 22, 22);
  }
  .text-field:focus {
    border: 1px solid #e32845;
    transition: 0.3s ease-in;
  }
  .check-icon {
    border: 1px solid rgb(122, 122, 122);
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
  }
  .check-icon:checked {
    outline: #e32845;
  }
  
  .form-pannel button {
    background-color: transparent;
    border: 1px solid black;
    padding: 15px 35px;
    font-size: 16px;
    color: rgb(22, 22, 22);
  }
  .form-pannel button:hover {
    cursor: pointer;
    transform: matrix3d(50deg);
    background-color: #111d5e;
    border-radius: 50px;
    border: none;
    transition: 0.5s ease-out;
    color: #fff;
  }
  .form-pannel p {
    font-size: 14px;
    margin-top: 10px;
  }
  .form-pannel p:hover {
    cursor: pointer;
  }
  .form-pannel span {
    width: 90px;
    height: 2px;
    background: #e32845;
    position: absolute;
    top: 110px;
    bottom: 0;
  }
  .form-pannel hr {
    position: absolute;
    top: 0%;
  }
  
  @media only screen and (max-width: 600px) {
    .Login-Hero{
      text-align: center;
      padding-left: 0;
    }
    .form-pannel{
      width: 90%;
    }
    .Login-Hero ul
   {
  
    margin-left: 140px;
    
  }
  }


  



  .academicss{
    background-color:white;
    
}

.academics--head{
    text-align: center;
    width: 40%;
    margin: 0 30% 0 30%;
    color: rgb(0, 0, 110);
}

/* .academics--head_header{ 
   
} */

.academics--head_text{ text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    padding-bottom: 10px;
    padding: 0 17% 0 17%;

}
.buttonx {
    background-color: #4CAF50; /* red */
    border: none;
    color: white;
    padding: 14px 90px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
    cursor: pointer;
  }
  
  .button2 {background-color: #008CBA;} /* red */

  .body--box{
    margin: 30px 15% 0 15% ;
    text-align: center;
   
  
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }

  .bb-box {
    margin: 1rem;
  }



  .stories{
    
    height: 500px;
    
}
/* body{
    margin: 0;
    background-color:rgba(212, 212, 212, 0.596);
} */

.stories--head{
    text-align: center;
    
    margin: 0 30% 0 30%;
    padding: 1rem;
}

.stories--head_header{ 
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 110);

}

.stories--head_text{ text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    padding: 1rem;
    padding-bottom: 10px;
    padding: 0 17% 0 17%;

}

.youtube{
    display: flex;
    flex-direction: row;
    margin: 30px 15% 0 15%;
    height: 270px;
    gap: 2rem;
    /* margin: 1rem; */

}

.youtube--slide{
    background-color:white;
    height: 270px;
    font-size:19px ;
    width: 33%;
    display: flex;
    flex-direction: column;
    /* margin-bottom: 20rem; */
    box-shadow: #18225c;
}

.youtube--text{

    margin:3% 0 0 5% ;
    font-family: calibri;
    text-justify: distribute-all-liness;
    height: 20%;
    color: rgb(0, 0, 110);
}
.youtube--vid{

    margin: 0;
    font-family: 'Times New Roman', Times, serif;
   border: 0px solid black;
 
    height: 94%;
}
